<br>
<div class="imgRow">
	<img src="http://www.freepngimg.com/download/burger/1-2-burger-transparent.png">
</div>

<br>
<h1>Eat-Da-Burger</h1>
<br>

<div class="row burgers">

	<div class="burgersBought cols-md-6">
		<ul>
		  {{#each burgerObj}}
		    {{#unless devoured}}
		    	<span id="brgrBought">{{this.burger_name}}</span>
		    	<button data-id="{{this.id}}" class="devourIt" type="submit">Devour it</button>
		    	<br> <br>
		    {{/unless}}
		  {{/each}}
		</ul>
	</div>

	<div class="burgersDevoured cols-md-6">
		<ol type="1">
		  {{#each burgerObj}}
		    {{#if devoured}}
		    	<li><p id="brgrDevoured">{{this.burger_name}}</p></li>
		    {{/if}}
		  {{/each}}
		</ol>
	</div>

</div>

<br>

<div>
  <form action="/" method="POST">
  	<textarea id="nwBgrNm" type="text" name="burger"></textarea> <br>
  	<button class="newBurger" type="submit">Submit</button>
  </form>
</div>

<br> 
<p>Enter a burger you want eat and click the "Submit" button.</p>