
body {
	background-color: #ffcc66;
}

.container {
	text-align: center;
}

img {
	width: 20%;
	height: 20%;
}

#brgrBought, #brgrDevoured {
	border-color: gray;
	background-color: light gray;
	color: black;	
}