
body {
	background-color: #ffcc66;
}

.container {
	text-align: center;
}

img {
	width: 20%;
	height: 20%;
}

.burgersBought{
	border-color: gray;
	background-color: light gray;
	color: black;	
	float: left;
	overflow: hidden;
	padding-left: 20%
}

.burgersDevoured {
	float: right;
	padding-right: 30%
}